<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <%# <% if user_signed_in? %>
        <%# <%= link_to "ログアウト", destroy_user_session_path, method: :delete %> 
        <%# <%= link_to "投稿する", new_tweet_path, class: :poset %> 
      <%# <% else %> 
        <%# <%= link_to "ログイン", new_user_session_path, class: :post %> 
        <%# <%= link_to "新規登録", new_user_registration_path, class: :post %> 
      <%# <% end %> 
    </header>
    <%= yield %>
  </body>
</html>
